.header {
  background: black;
  color: #fafafa;
  padding: 16px;
  display: flex;
  align-items: center;
  &__title {
    text-align: center;
    margin-right: 50px;
  }
}

.hero {
  max-width: 1980px;
  margin: 0 auto;
  &__img {
    width: 100%;
  }
}
