html,
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
  vertical-align: bottom;
  vertical-align: bottom;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  font-family: '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo,
    sans-serif;
}

.header {
  background: black;
  color: #fafafa;
  padding: 16px;
  &__title {
    text-align: center;
  }
}

.hero {
  max-width: 1980px;
  margin: 0 auto;
  &__img {
    width: 100%;
  }
}

.footer {
  background: black;
  color: #fafafa;
  padding: 16px;
  &__title {
    text-align: center;
  }
}
